<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Estoque</title>
</head>
<body>
    <h1>Editar Estoque</h1>
    <form th:action="@{/estoque/editar-estoque}" th:object="${estoque}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" />
        </div>
        <button type="submit">Salvar</button>
    </form>
    <a th:href="@{/estoque/list-estoque}">Cancelar</a>
</body>
</html>