<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Estoque</title>
</head>
<body>
    <h1>Detalhes do Estoque</h1>
    <div>
        <p>ID: <span th:text="${estoque.id}"></span></p>
        <p>Nome: <span th:text="${estoque.nome}"></span></p>
        <p>Data de Entrada: <span th:text="${estoque.dataEntrada}"></span></p>
        <p>Data de Saída: <span th:text="${estoque.dataSaida}"></span></p>
    </div>
    <a th:href="@{/estoque/list-estoque}">Voltar</a>
</body>
</html>