<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista de Estoque</title>
</head>

<body>
    <h1>Lista de Estoque</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data de Entrada</th>
                <th>Data de Saída</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="estoque : ${estoques}">
                <td th:text="${estoque.id}">ID</td>
                <td th:text="${estoque.nome}">Nome</td>
                <td th:text="${estoque.dataEntrada}">Data de Entrada</td>
                <td th:text="${estoque.dataSaida}">Data de Saída</td>
            </tr>
        </tbody>
    </table>
</body>

</html>