<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista de Estoque</title>
</head>

<body>
    <h1>Lista de Estoque</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="estoque : ${estoques}">
                <td>
                    <a th:href="@{/estoque/estoque/{id}(id=${estoque.id})}" th:text="${estoque.id}">ID</a>
                </td>
                <td>
                    <a th:href="@{/estoque/estoque/nome/{nome}(nome=${estoque.nome})}" th:text="${estoque.nome}">Nome</a>
                </td>
                <td>
                    <a th:href="@{/estoque/excluir-estoque/{id}(id=${estoque.id})}">Excluir</a>
                    <a th:href="@{/estoque/editar-estoque/{id}(id=${estoque.id})}">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>