<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos em Estoque</title>
</head>
<body>
    <h1>Lista de Produtos em Estoque</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome do Estoque</th>
                <th>Nome do Produto</th>
                <th>Quantidade em Estoque</th>
                <th>Preço Unidade</th>
                <th>Preço total do produto no estoque</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="estoqueProduto, iterStat : ${produtoestoque}">
                <td th:text="${estoqueProduto.id}"></td>
                <td th:text="${estoqueProduto.estoque.nome}"></td>
                <td th:text="${estoqueProduto.produto.nome}"></td>
                <td th:text="${estoqueProduto.quantidade}"></td>
                <td th:text="${estoqueProduto.produto.preco}"></td>
                <td th:text="${precosTotaisProdutos[iterStat.index]}"></td>
                <td>
                    <a th:href="@{/estoque/excluir-produto-estoque/{id}(id=${estoqueProduto.id})}">Excluir</a>
                    <a th:href="@{/estoque/editar-produto-estoque/{id}(id=${estoqueProduto.id})}">Excluir</a>

                </td>
            </tr>
        </tbody>
    </table>
    <h2>Preço total do estoque: <span th:text="${precoTotalEstoque}"></span></h2>
</body>
</html>